# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\wilso\OneDrive\Escritorio\Mariano Galvez\Segundo Año 2020\Segundo Semestre 2020\Programacion 2\Tareas\7690_12_14582_Proyecto2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
